PUBLIC_HC_OAUTH_CLIENT_ID=
PUBLIC_HC_OAUTH_REDIRECT_URL=
PRIVATE_HC_OAUTH_CLIENT_SECRET=
PUBLIC_SUPABASE_URL=
PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=
PRIVATE_HC_CDN_API_KEY=
PUBLIC_HACKATIME_CLIENT_UID=
PRIVATE_HACKATIME_CLIENT_SECRET=
PUBLIC_HACKATIME_OAUTH_REDIRECT_URL=
SLACK_BOT_TOKEN=
SLACK_REVIEW_CHANNEL_ID=
SLACK_SHOP_CHANNEL_ID=
SLACK_SIGNING_SECRET=
